Q1-Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar',34357),('Rinky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)

In [1]:
list_of_tuples = [('Sachin Tendulkar',34357),('Rinky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

# Sort the list of tuples based on the second element using a lambda function.
sorted_list_of_tuples = sorted(list_of_tuples, key=lambda x: x[1])

print(sorted_list_of_tuples)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Rinky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2-Write a Python program to find the squares of all the numbers in list of integer using lambda and map functions.
[1,2,3,4,5,6,7,8,9,10]

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3-Write a python program to convert the list  of integer into a tuple of string. Use map and lambda functions.
Given String:[1,2,3,4,5,6,7,8,9,10]
Expected output : ('1','2','3','4','5'.'6'.'7','8','9','10')

In [6]:
l=[1,2,3,4,5,6,7,8,9,10]
t=tuple(map(lambda x : str(x),l))
print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4-Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25

In [8]:
l1=list(range(1,26))

In [10]:
from functools import reduce

In [11]:
reduce(lambda x,y : x*y, l1)

15511210043330985984000000

Q5-Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2,3,6,9,27,60,90,120,55,46]

In [15]:
list_of_numbers = [2,3,6,9,27,60,90,120,55,46]

# Use the filter function to filter the list of numbers that are divisible by 2 and 3.
filtered_list_of_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, list_of_numbers))
print(filtered_list_of_numbers)

[6, 60, 90, 120]

In [16]:
Q6-Write a python program to find palindromes in the given list of string using lambda and filter function.
['python','php','aba','radar','level']

SyntaxError: invalid syntax (1409304945.py, line 1)